
.canvas{
  position: fixed !important;
}

.main_container{
display: flex;
justify-content: center;
position: absolute;
top:6vh;
width: 60vw;
margin: 0 20%;
padding: 4vh;
/* background: radial-gradient(#ffffff56, rgba(255, 255, 255, 0.1)); */
text-align: center;
border-radius: 1%;
font-family: "Lato", sans-serif;
flex-direction: column;
font-size: 2.8vh;
line-height: 4.2vh;
}

.heading{
  font-size: 3.6vh;
  padding: 5vh 0 2vh 0;
  line-height: 7vh;
  color: rgba(0, 0, 0, 0.9);
}

.heading span{
  font-family: "Sacramento", cursive;
  background: -webkit-linear-gradient(rgba(0, 162, 255, 0.845), rgb(102, 2, 138));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vh;
  font-weight: 600;
}

.description{
  background: linear-gradient(#ffffff33, rgba(255, 255, 255, 0.066));
  padding: 2vh 2vw;
  backdrop-filter: blur( 2px );
}

/* this is photo grid layout for skills */
.photoGrid{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding: 3vh 0px;
  opacity: 0.95;
}

.photoGridColumn{
  flex: 24%;
  max-width: 24%;
  padding: 0 0.5%;
}

.photoGridColumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transition: transform .2s;
}

.photoGridColumn img:hover {
  transform: scale(1.02);
}

