
.stageContainer{
    position: absolute;
    z-index: 2;
    top: 18.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .guidance_Icon_container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 85vh;
  }

  .GuideIcon{
    animation: pointer 2.7s infinite;
    position: relative;
  animation-direction: alternate;
  animation-timing-function:ease-in-out;
  opacity: 0.8;
  }

  @keyframes pointer {
    0%   { left: -20px; top: 0px;}
    100% { left: 40px; top: 0px;}
  }

  @media only  screen and (max-width: 800px) {
    .stageContainer{
      top: 21vh;
    }
  }