.canvas {
  position: fixed !important;
}

.stageContainer{
    position: absolute;
    z-index: 2;
    top: 18.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .guidance_Icon_container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 85vh;
  }

  .GuideIcon{
    animation: pointer 2.7s infinite;
    position: relative;
  animation-direction: alternate;
  animation-timing-function:ease-in-out;
  opacity: 0.8;
  }

  @keyframes pointer {
    0%   { left: -20px; top: 0px;}
    100% { left: 40px; top: 0px;}
  }

  .GuideText{
    font-family: "Lato", sans-serif;
    color: aliceblue;
    text-transform: uppercase;
    padding-top: 1vh;
    font-size: 1.6vh;
    font-weight: 500; 
    display: none;
  }

  @media only  screen and (max-width: 800px) {
    .stageContainer{
      top: 21vh;
    }
  }

  .audioIcon{
    position: absolute;
    left: 1vw;
    top: 92vh;
    height: 6vh;
  }