
.footer{
  position: fixed;
  bottom: 0;
    width: 100vw;
    height:4vh;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background: linear-gradient(#ffffff, rgba(255, 255, 255, 0.1)); */
   /* backdrop-filter: blur( 5px ); */
   color: rgba(240, 248, 255, 0.815);
   font-family: "Lato", sans-serif;
   letter-spacing: 0.1vw;
   font-size: 1.4vh;

}
