.audioIcon {
  position: fixed; /* Change to fixed to ensure it stays in place relative to the viewport */
 top: 91.4vh; /* Position 8% from the bottom of the viewport */
  left: 1vw; /* Adjust as needed */
  height: 6vh;
  width: 6vh;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000; /* Ensure it has a higher z-index than other elements */
}
.compassContainer {
  position: fixed;
  right: 1vw;
  top: 70vh;
  max-height: 27vh;
  width: 37vh;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  transform: scale(1);
  transition: all 0.5s ease;
}

.compassContainerHovered{
  transition-delay: 0.5s;
  height: 5vh;
}

.compassInnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.compassGif {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 18vh;
  width: calc(18vh * 1/1);
  transform: scale(1.2);
  padding: 0;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 5.4vh;
  right: -3.8vw;
}

.compassGifHovered {
  position: relative;
  height: 18vh;
  padding: 0.5vh 0.5vh 0 0.5vh;
  transform: scale(1.2);
  right: 0vw;
  top: 0vh;
  
}


.compassText {
  font-size: 2.2vh;
  color: rgb(66, 32, 10);
  width: 100%;
  text-align: center;
  height: fit-content;
  transition: all 0s ease;
  padding: 1vh 0.5vw;
  position: relative;
  z-index: 4 !important;
  cursor: pointer;
  font-weight: 600;
}

.compassGifHovered ~ .compassText {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0s;
}

.compassText:hover {
  background: linear-gradient(#ffffff58, rgba(255, 255, 255, 0.422));
  backdrop-filter: blur(7px);
}

.compassInnerText {
  width: fit-content;
  height: 80%;
  display: flex;
  align-items: center;
}

.compassGifHovered ~ .compassInnerText {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0s;
}
.compassInnerTText,
.compassInnerDText {
  margin-left: -0.4vw;
}

.compassInnerDText {
  padding: 1vh auto;
}

.bottomInfo {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgba(240, 248, 255, 0.836);
  font-size: 2vh;
  padding-bottom: 2vh;
  visibility: hidden;
}

.bottomInfo span {
  padding: 0.2vh;
  border-radius: 0.1vh;
  font-size: 2.2vh;
  color: rgba(66, 32, 10, 0.676);
  font-weight: 700;
}

.displayBlock {
 visibility: visible;
}

.displayNone {
  visibility: hidden;
}

@media only screen and (max-width: 800px) {
  .audioIcon {
    top: 91.4vh; /* Adjust the position for mobile devices */
    left: 2vw; /* Adjust as needed */
    height: 5vh;
    width: 5vh;
  }

  .compassContainer {
    right: 0vw;
    top: 72.5%;
    max-height: 17vh;
    width: 24vh;
  }
  
  .compassContainerHovered{
    transition-delay: 0s;
    height: fit-content;
    max-height:100vh;
    width: 74vw;
    right: 10vw;
    padding: 1vh 3vw;
    top: 66%;
    background: radial-gradient( rgb(255, 255, 255), rgba(255, 255, 255, 0.091));
    border-radius: 2vh;
  }
  
  .compassGif {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 18vh;
    width: calc(18vh * 1/1);
    top: 5.4vh;
    right: -10.5vw;
  }
  
  .compassGifHovered {
    position: relative;
    height: 18vh;
    padding: 0.5vh 0.5vh 0 0.5vh;
    transform: scale(1.2);
    right: 0%;
    top: 0vh;
  }
  
  
  .compassText {
    font-size: 2.2vh;
    color: rgb(66, 32, 10);
    width: 100%;
    text-align: center;
    height: fit-content;
    transition: all 0s ease;
    padding: 1vh 0.5vw;
    position: relative;
    z-index: 4 !important;
    cursor: pointer;
    font-weight: 600;
  }
  
  .compassGifHovered ~ .compassText {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0s;
  }
  
  .compassText:hover {
    background: linear-gradient(#ffffff58, rgba(255, 255, 255, 0.422));
    backdrop-filter: blur(7px);
  }
  
  .compassInnerText {
    width: fit-content;
    height: 80%;
    display: flex;
    align-items: center;
  }
  
  .compassGifHovered ~ .compassInnerText {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0s;
  }
  .compassInnerTText,
  .compassInnerDText {
    margin-left: -0.4vw;
  }
  
  .compassInnerDText {
    padding: 1vh auto;
  }
  
  .bottomInfo {
    display: none;
    height: 2vh;
    visibility: hidden;
  }
  
  .displayBlock {
   visibility: visible;
  }
  
  .displayNone {
    visibility: hidden;
  }
}
