
  .audioIcon{
    position: absolute;
    left: 1vw;
    top: 92vh;
    height: 6vh;
    cursor: pointer;
  }

  @media only screen and (max-width: 800px) {

    .audioIcon{
      top: 94vh;
      height: 5vh;
     
    }
  }